<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.chihau.hellointentfilters"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavegadorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="cl.chihau.accion.navegar" />
                <!-- Todas las actividades que quieren que otros las invoquen 
                deben pertenecer a esta categoría-->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- se especifica el tipo de datos esperados por la actividad -->
                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>
