<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloMapKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69AEFE101DDD61F4005A12BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69AEFE241DDD61F5005A12BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69AEFE2F1DDD61F5005A12BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
